# {{ ansible_managed }}

deb http://ftp.belnet.be/debian/ bookworm main contrib non-free non-free-firmware
deb http://security.debian.org/ bookworm-security non-free contrib main non-free-firmware
deb http://ftp.belnet.be/debian/ bookworm-updates non-free contrib main non-free-firmware
deb http://ftp.belnet.be/debian/ bookworm-backports main contrib non-free non-free-firmware